# General Aliases
alias cls="clear"
alias ll="ls -lAh"
alias grep="grep --color=auto"
alias ..="cd .."
alias ...="cd ../.."

# Git Aliases
alias gs="git status"
alias gp="git pull"
alias gc="git commit -m"
alias ga="git add ."

{{ if eq .chezmoi.os "darwin" }}
# macOS Aliases
alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/'
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{ end }}

