# General Aliases
alias cls="clear"
alias ll="ls -lAh"
alias grep="grep --color=auto"
alias ..="cd .."
alias ...="cd ../.."


{{- if eq .chezmoi.os "linux" }}
  {{- if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu") }}

# Linux Distribution-Specific Aliases
alias update="sudo apt update && sudo apt upgrade -y"
  {{- else if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "fedora") }}
alias update="sudo dnf update && sudo dnf upgrade -y"
  {{- end }}
{{- end }}

# Git Aliases
alias gs="git status"
alias gp="git pull"
alias gc="git commit -m"
alias ga="git add ."


{{- if eq .chezmoi.os "darwin" }}

# macOS Aliases
alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/'
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{ end }}