[data]
userShell = "{{ (base (index .chezmoi.userShellArgs 0)) }}"
isZsh = {{ eq .chezmoi.userShell "zsh"}}
isBash = {{ eq.chezmoi.userShell "bash"}}

hostname = "{{ .chezmoi.hostname }}"
isMacOS = {{ eq .chezmoi.os "darwin" }}
isLinux = {{ eq .chezmoi.os "linux" }}
isWindows = {{ eq .chezmoi.os "windows" }}
isWSL = {{ and (eq .chezmoi.os "linux") (contains .chezmoi.kernel.osrelease "microsoft") }}


[edit]
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows") }}
command = "code"
args = ["--wait"]
{{ else if eq .chezmoi.os "linux" }}
command = "nano"
{{ end }}

[git]
autoCommit = true
autoPush = true
