[data]
hostname = "{{ .chezmoi.hostname }}"
isMacOS = {{ eq .chezmoi.os "darwin" }}
isLinux = {{ eq .chezmoi.os "linux" }}
isWindows = {{ eq .chezmoi.os "windows" }}
isWSL = {{ and (eq .chezmoi.os "linux") (contains .chezmoi.kernel.osrelease "microsoft") }}

[edit]
command = "nano"

[git]
autoCommit = true
autoPush = true
