[user]
	name = Nathan Darker
	email = 100093337+aut0nate@users.noreply.github.com

[init]
	defaultBranch = main

[help]
	autocorrect = 1

[core]
	{{- if eq .chezmoi.os "windows" }}
	editor = code --wait
	{{ else }}
	editor = nano
	{{ end }}
	fileMode = false
	{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
	{{ end }}

[color]
	ui = true

[push]
	default = simple
        autoSetupRemote = true

[fetch]
    prune = true

[branch]
    sort = -committerdate

[diff]
    colorMoved = zebra

[log]
    date = iso

[credential]
	helper = manager

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --all --decorate
    last = log -1 HEAD
    unstage = reset HEAD --
