{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}

# Reload tmux configuration with `prefix + r`
unbind r
bind r source-file ~/.tmux.conf \; display-message "tmux.conf reloaded!"

# Enable mouse mode for easier pane and window selection
set-option -g mouse on

# Bind Alt + Arrow keys for pane navigation
bind -n M-Left  select-pane -L   # Move to the pane on the left
bind -n M-Right select-pane -R   # Move to the pane on the right
bind -n M-Up    select-pane -U   # Move to the pane above
bind -n M-Down  select-pane -D   # Move to the pane below

# Split window bindings
bind v split-window -h   # Split window horizontally (vertical pane)
bind h split-window -v   # Split window vertically (horizontal pane)

# Bind Shift + Arrow keys for window navigation
bind -n S-Left previous-window   # Switch to the previous window
bind -n S-Right next-window      # Switch to the next window


# List of plugins managed by TMUX Plugin Manager (TPM)
set -g @plugin 'tmux-plugins/tpm'            # TPM - Tmux Plugin Manager
set -g @plugin 'wfxr/tmux-power'             # Tmux Power theme plugin

# Tmux Power Theme Customisation
set -g @tmux_power_theme 'gold'              # Tmux Power theme style
set -g @tmux_power_date_format '%x'          # Tmux Power theme date format
set -g @tmux_power_time_format '%X'          # Tmux Power theme time format
set -g @tmux_power_show_user false           # Tmux Power theme show user
set -g @tmux_power_show_host false           # Tmux Power theme show host


# Initialize TMUX Plugin Manager (Keep this line at the very bottom of .tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
